<body>
    <h1>Order Details</h1>


    <div id="checkout-item">
        <p>{{listing.dataValues.title}}</p>
        <p>price: {{listing.dataValues.price}}</p>
        {{#if (equal order.status false)}}
        <p>Delivery Status: Pending</p>
        <p>Referebce Number: {{order.reference_number}}</p>
        <p>created at: {{format_date order.created_at}}</p>
        {{else}}
       
       {{/if}}
    </div>

</body>

<script src="/js/checkout.js"></script>