<h1> Any Consoles? </h1>

{{#each items}}
<div>

  {{#if sold}}
  <strong>
    <p style="height:10%">SOLD</p>
  </strong>
  {{else}}
  <a href="/category/{{category.category_name}}/{{id}}" class="my-2">
    <strong>
      <p style="height:10%">{{listing.title}}</p>
    </strong>
  </a>
  {{/if}}
  <p>{{ price }}</p>
  <p>{{condition}}</p>
  <br>
  {{#if sold}}
  <img id="listingImage" style="filter: grayscale(1);" src="data:image/png;base64,{{image}}" />
  {{else}}
  <img id="listingImage" src="data:image/png;base64,{{image}}" />
  {{/if}}
  <br>
  <h3>{{ console_name }}</h3>
  <p>{{ description }}</p>

</div>
{{/each}}