<header class="antique p-3">
    <h1>{{title}}</h1>
    <p> Seller: {{user.user_name}}</p>
    {{!-- add to cart button --}}
    {{#if (ifCond sold user_id currentId)}}
    <button id="Cart-Btn" class="cart-btn button is-info" style="display:none">Add to Cart</button>
    {{else}}
    <button id="Cart-Btn" class="cart-btn button is-info" style="display:block">Add to Cart</button>
    {{/if}}

</header>

<main class="blacktrs p-6 has-text-white is-centered" style="line-height: 40px; margin: auto; border-radius: 25px;">
    <div class="is-centered">
        {{!-- image --}}
        <figure class="is-centered" style=" max-width: 640px;">
            <img id="listingImage" src="data:image/png;base64,{{image}}" alt="retro gaming console"/>
        </figure>
        {{!-- console name --}}
        <p class="px-1" style="background-color: aquamarine; color: black;">{{console_name}} by {{console_brand}} from
            {{year}} </p>

        <p>Posted on: {{format_date date_created}}</p>

        <p>Description: {{description}}</p>

        <p>Price: ${{price}}</p>
        <p>Condition: {{condition}}</p>
        <p>Color: {{color}}</p>

        {{#if is_special_edition}}
        <p>Special Edition: Yes</p>
        {{else}}
        <p>Special Edition: No</p>
        {{/if}}

        Contact Seller: <a href="mailto:{{user.email}}"> {{user.user_name}} </a>

        {{!-- add to cart button --}}
        {{#if (ifCond sold user_id currentId)}}
        <button id="Cart-Btn" class="cart-btn button is-info" style="display:none">Add to Cart</button>
        {{else}}
        <button id="Cart-Btn" class="cart-btn button is-info" style="display:block">Add to Cart</button>
        {{/if}}
    </div>
</main>


<script src="/js/addToCart.js"></script>