<h1>kjsdfkjsdhf</h1>

{{#each items}}

<div>
    <div>
        <a>
            <div>
                <span>
                    <img src="">
                </span>
            </div>
            <div>
                <p class="text-3xl">
                    <a href="/{{category.category_name}}/{{id}}">
                    {{title}}
                    </a>
                </p>
                <p>
                    {{description}}
                </p>
                <p>
                    {{price}}
                </p>
            </div>
        </a>
    </div>
</div>
{{/each}}