{{#each items}}

<div>
    <div>
        <a>
            <div>
                <span>
                    <img src="">
                </span>
            </div>
            <div>
                <p class="text-3xl">
                <div>
                    {{#if sold}}
                    <img id="listingImage" style="filter: grayscale(1);" src="data:image/png;base64,{{image}}" />
                    {{else}}
                    <img id="listingImage" src="data:image/png;base64,{{image}}" />
                    {{/if}}
                </div>
                {{#if sold}}
                <strong>
                    <p style="height:10%">SOLD</p>
                </strong>
                {{else}}
                <a href="/category/{{category.category_name}}/{{id}}" class="my-2">
                    <strong>
                        <p style="height:10%">{{listing.title}}</p>
                    </strong>
                </a>
                {{/if}}
                </p>
                <p>
                    {{description}}
                </p>
                <p>
                    {{price}}
                </p>
                <p>
                    {{condition}}
                </p>
            </div>
        </a>
    </div>
</div>
{{/each}}