{{#each items}}

<div>
    <div>
        <a>
            <div>
                <span>
                    <img src="">
                </span>
            </div>
            <div>
                <p class="text-3xl">
                <div>
                    <img id="listingImage" src="data:image/png;base64,{{image}}" />
                </div>
                <a href="/category/{{category.category_name}}/{{id}}">
                    {{title}}
                </a>
                </p>
                <p>
                    {{description}}
                </p>
                <p>
                    {{price}}
                </p>
            </div>
        </a>
    </div>
</div>
{{/each}}