<header>
    <h1 id="game-title" class="game-title">{{title}}</h1>
</header>

<main class="game">

    <section class="gameImg" alt="">
        <img src="">
    </section>

    <h2>{{game_name}}</h2>
    
<img id="listingImage" src="data:image/png;base64,{{image}}"/>
{{#if (equal user_id currentId)}}
    <button id="Cart-Btn"class="cart-btn button is-info" style="display:none">Add to Cart</button>
    {{else}}
    <button id="-Btn"class="cart-btn button is-info" style="display:block">Add to Cart</button>
{{/if}}


    <p>{{price}}</p>



    <p>{{description}}</p>
    <p>{{condition}}</p>
    <p>{{color}}</p>
    <p>Is Special Editiion?{{is_special_edition}}</p>
    <p>Year: {{year}}</p>
    <p>{{console_brand}}</p>




</main>



<footer>
    <h3>

    </h3>
</footer>

<script src="/js/addToCart.js"></script>