<h1> LISTINGS </h1>

{{#each listings as |listing|}}
<div>
    <a href="/category/{{category.category_name}}/{{id}}">
        <p class="title-listing">{{listing.title}}</p>
    </a>
    <p>${{price}}</p>
    <p>{{listing.description}}</p>
    <p>{{listing.condition}}</p>
    <h2>{{category.category_name}}</h2>
    <img id="listingImage" src="data:image/png;base64,{{image}}" />
    {{log image 'this is'}}
</div>
{{/each}}