<h1> Test </h1>

{{#each listings as |listing|}}

<div>
    <a href="/category/{{category.category_name}}/{{id}}">
        <h1 class="title-listing">{{listing.title}}</h1>
    </a>
    <p>{{listing.description}} ${{price}}</p>
    <h2>{{category.category_name}}</h2>
    <img id="listingImage" src="{{image}}">
    {{log image 'this is'}}

    
</div>


{{/each}}