<hero></hero>

<h1 class="p-3"> LISTINGS </h1>
<main id="recent" class="columns m-3">
    {{#each listings as |listing|}}
    <div id="listing" class="column m-3 p-5">
        <div id="inner-listing" class="p-3">
            <a href="/category/{{category.category_name}}/{{id}}">
                <strong>
                    <p style="height:10%">{{listing.title}}</p>
                </strong>
            </a>
            <p style="height:10%">${{price}}</p>
            <p style="height:20%">{{listing.description}}</p>
            <p style="height:10%">{{listing.condition}} {{category.category_name}}</p>
            <img id="listingImage" src="data:image/png;base64,{{image}}"
                style="height:50%; display: block; margin: auto;" />
            {{log image 'this is'}}
        </div>
    </div>
    <div class="allotherlistings">
        
    </div>
    {{/each}}
</main>