{{#each items}}

<div>

    {{#if console_name}}
    <!-- Console-specific content -->


    {{#if sold}}
    <strong>
        <p style="height:10%">SOLD</p>
    </strong>
    {{else}}
    <a href="/category/{{category.category_name}}/{{id}}" class="my-2">
        <strong>
            <p style="height:10%">{{title}}</p>
        </strong>
    </a>
    {{/if}}

    <p>{{ price }}</p>
    <p>{{condition}}</p>
    <br>

    {{#if sold}}
    <img id="listingImage" style="filter: grayscale(1);" src="data:image/png;base64,{{image}}" />
    {{else}}
    <img id="listingImage" src="data:image/png;base64,{{image}}" />
    {{/if}}

    <br>
    <h3>{{ console_name }}</h3>
    <p>{{ description }}</p>

    {{else}}
    <!-- Game-specific content -->

    <div>
        <a>
            <div>
                <span>
                    <img src="">
                </span>
            </div>
            <div>
                <p class="text-3xl">

                    {{#if sold}}
                    <img id="listingImage" style="filter: grayscale(1);" src="data:image/png;base64,{{image}}" />
                    {{else}}
                    <img id="listingImage" src="data:image/png;base64,{{image}}" />
                    {{/if}}

                    {{#if sold}}
                    <strong>
                        <p style="height:10%">SOLD</p>
                    </strong>
                    {{else}}
                    <a href="/category/{{category.category_name}}/{{id}}">
                        <strong>
                            <p style="height:10%">{{title}}</p>
                        </strong>
                    </a>
                    {{/if}}
                </p>
                <p>{{description}}</p>
                <p>{{price}}</p>
                <p>{{condition}}</p>
            </div>
        </a>
    </div>

    {{/if}}
</div>
{{/each}}

<script>
    // Get the current URL
    var currentUrl = window.location.pathname;

    // Extract relevant information from the URL
    var urlParts = currentUrl.split('/');
    var category = urlParts[2];  // Assuming category is the third part of the URL

    // Dynamically set the h1 content based on the extracted information
    var pageTitle = document.createElement('h1');

    if (category === 'consoles') {
        pageTitle.textContent = 'Consoles';
    } else if (category === 'games') {
        pageTitle.textContent = 'Games';
    } else {
        pageTitle.textContent = 'Other Category';  // Add more conditions as needed
    }

    // Append the h1 element to the body
    document.body.appendChild(pageTitle);
</script>