{{#if items.[0].game_name}}
<h1>Viewing AnyGame</h1>
{{else}}
<h1>Viewing AnyConsole</h1>
{{/if}}
{{#each items}}

<div>

    {{#if console_name}}
    <!-- Console-specific content -->


    {{#if sold}}
    <strong>
        <p style="height:10%">SOLD</p>
    </strong>
    {{else}}
    <a href="/category/{{category.category_name}}/{{id}}" class="my-2">
        <strong>
            <p style="height:10%">{{title}}</p>
        </strong>
    </a>
    {{/if}}

    <p>{{ price }}</p>
    <p>{{condition}}</p>
    <br>

    {{#if sold}}
    <img id="listingImage" style="filter: grayscale(1);" src="data:image/png;base64,{{image}}" />
    {{else}}
    <img id="listingImage" src="data:image/png;base64,{{image}}" />
    {{/if}}

    <br>
    <h3>{{ console_name }}</h3>
    <p>{{ description }}</p>

    {{else}}
    <!-- Game-specific content -->

    <div>
        <a>
            <div>
                <span>
                    <img src="">
                </span>
            </div>
            <div>
                <p class="text-3xl">

                    {{#if sold}}
                    <img id="listingImage" style="filter: grayscale(1);" src="data:image/png;base64,{{image}}" />
                    {{else}}
                    <img id="listingImage" src="data:image/png;base64,{{image}}" />
                    {{/if}}

                    {{#if sold}}
                    <strong>
                        <p style="height:10%">SOLD</p>
                    </strong>
                    {{else}}
                    <a href="/category/{{category.category_name}}/{{id}}">
                        <strong>
                            <p style="height:10%">{{title}}</p>
                        </strong>
                    </a>
                    {{/if}}
                </p>
                <p>{{description}}</p>
                <p>{{price}}</p>
                <p>{{condition}}</p>
            </div>
        </a>
    </div>

    {{/if}}
</div>
{{/each}}