{{#if items.[0].game_name}}
<h1>Viewing AnyGame</h1>
{{else}}
<h1>Viewing AnyConsole</h1>
{{/if}}




{{#each items}}

<div>

    {{#if console_name}}
    <!-- Console-specific content -->
    <section class="is-multiline columns is-centered mx-3 p-6">
        <div id="other-listing" class="column m-3 p-5 is-one-fifth"
            style="line-height: 1.5; min-width: 200px; min-height: 200px;">

            {{!-- title; if sold, title will just say such --}}
            {{#if sold}}
            <strong>
                <p style="height:10%">SOLD</p>
            </strong>
            {{else}}
            <strong>
                <p style="height:10%">{{title}}</p>
            </strong>
            {{/if}}

            <p class="my-2">{{console_name}}</p>
            <p class="my-2">{{price}}</p>
            <p class="my-2">{{condition}} {{category.category_name}}</p>

            {{!-- image; if sold, is greyed out --}}
            {{#if sold}}
            <img id="listingImage" style="filter: grayscale(1);" src="data:image/png;base64,{{image}}" />
            {{else}}
            <img id="listingImage" src="data:image/png;base64,{{image}}" />
            {{/if}}



        </div>
    </section>


    {{else}}
    <!-- Game-specific content -->

    <section class="is-multiline columns is-centered mx-3 p-6">
        <div id="other-listing" class="column m-3 p-5 is-one-fifth"
            style="line-height: 1.5; min-width: 200px; min-height: 200px;">

            {{!-- title; if sold, title will just say such --}}
            {{#if sold}}
            <strong>
                <p style="height:10%">SOLD</p>
            </strong>
            {{else}}
            <strong>
                <p style="height:10%">{{title}}</p>
            </strong>
            {{/if}}

             <p class="my-2">{{console_name}}</p>
            <p class="my-2">{{price}}</p>
            <p class="my-2">{{condition}} {{category.category_name}}</p>

             {{#if sold}}
            <img id="listingImage" style="filter: grayscale(1);" src="data:image/png;base64,{{image}}" />
            {{else}}
            <img id="listingImage" src="data:image/png;base64,{{image}}" />
            {{/if}}

        </div>
    </section>

    

        {{#if sold}}
        <strong>
            <p style="height:10%">SOLD</p>
        </strong>
        {{else}}
        <a href="/category/{{category.category_name}}/{{id}}">
            <strong>
                <p style="height:10%">{{title}}</p>
            </strong>
        </a>
        {{/if}}
    </p>
    <p>{{description}}</p>
    <p>{{price}}</p>
    <p>{{condition}}</p>
</div>


{{/if}}
</div>


{{/each}}