{{!-- if items from htmlroutes has game_name, view games page, otherwise view consoles page --}}

{{#if items.[0].game_name}}
<h1 class="p-3">Viewing AnyGame</h1>
{{else}}
<h1 class="p-3">Viewing AnyConsole</h1>
{{/if}}

<section class="is-multiline columns is-centered mx-3 p-6">

    {{#each items}}

    {{#if console_name}}
    <!-- Console-specific content -->

    <div id="other-listing" class="column m-3 p-5 is-one-fifth"
        style="line-height: 1.5; min-width: 200px; min-height: 300px;">

        {{!-- title; if sold, title will just say such --}}
        {{#if sold}}
        <strong>
            <p class="my-2">SOLD</p>
        </strong>
        {{else}}
        <strong>
            <a href="/category/{{category.category_name}}/{{id}}" class="my-2">
                <strong>
                    <p class="my-2">{{title}}</p>
                </strong>
            </a>
        </strong>
        {{/if}}

        <p class="my-2">{{console_name}}</p>
        <p class="my-2">{{price}}</p>
        <p class="my-2">{{condition}} {{category.category_name}}</p>

        {{!-- image; if sold, is greyed out --}}
        {{#if sold}}
        <img id="listingImage" style="filter: grayscale(1);" src="data:image/png;base64,{{image}}" />
        {{else}}
        <img id="listingImage" src="data:image/png;base64,{{image}}" />
        {{/if}}
    </div>

    {{else}}
    <!-- Game-specific content -->

    <div id="other-listing" class="column m-3 p-5 is-one-fifth"
        style="line-height: 1.5; min-width: 200px; min-height: 300px;">

        {{!-- title; if sold, title will just say such --}}
        {{#if sold}}
        <strong>
            <p class="my-2">SOLD</p>
        </strong>
        {{else}}
        <strong>
            <a href="/category/{{category.category_name}}/{{id}}" class="my-2">
                <strong>
                    <p class="my-2">{{title}}</p>
                </strong>
            </a>
        </strong>
        {{/if}}

        <p class="my-2">{{game_name}}</p>
        <p class="my-2">{{price}}</p>
        <p class="my-2">{{condition}} {{category.category_name}}</p>

        {{#if sold}}
        <img id="listingImage" style="filter: grayscale(1);" src="data:image/png;base64,{{image}}" />
        {{else}}
        <img id="listingImage" src="data:image/png;base64,{{image}}" />
        {{/if}}

    </div>


    {{/if}}

    {{/each}}
</section>