<div class="p-3 has-background-warning-dark">
  <h1>Welcome, {{ userName }}.</h1>
  <p>Would you care to
    <a class="js-modal-trigger nav-item px-2">
      <button class="no-button" id="add-ls-btn" data-target="add-ls-modal">Add a Listing</button>
    </a>?
  </p>
</div>

{{!-- User's listings --}}
<h2 class="p-3 bbdouble">Here are your listings:</h2>
<div class="bbdouble">
  <section class="is-multiline columns is-centered mx-3 p-6">
    {{#each myListings}}
    <div id="other-listing" class="column m-3 p-5 is-one-fifth"
      style="line-height: 1.5; min-width: 200px; min-height: 200px;">
      <a href="/category/{{category.category_name}}/{{id}}">
        <strong>
          <p class="my-2">{{title}}</p>
        </strong>
      </a>
      <p class="my-2">{{price}}</p>
      <p class="my-2">{{condition}} {{category.category_name}}</p>
      <div class="image is-128x128  my-2" style=" display: block; margin: auto;">
        <img id="listingImage" src="data:image/png;base64,{{image}}" />
      </div>
      <div>
        <button class="delete-btn button is-danger is-small" data-id="{{id}}">Delete</button>
      </div>
    </div>
    {{/each}}
  </section>
</div>

{{!-- User's orders --}}
<section class="box bbdouble" id="order-section">
  <h2 class="title  has-background-info has-text-white p-3">Here are your past orders:</h2>
  <div class="columns is-multiline" id="order-section">

    {{#each myOrders}}

    <div class="column is-full">
      <div class="box is-flex is-justify-content-space-between has-text-black" id="order-box">
        <p>
          {{#if listing.game_name }}
          <a href="/category/{{listing.category.category_name}}/{{listing.id}}">
            {{listing.game_name}} from {{listing.user.user_name}}
          </a>
          {{else}}
          <a href="/category/{{listing.category.category_name}}/{{listing.id}}">
            {{listing.console_name}} from {{listing.user.user_name}}
          </a>
          {{/if}}
          </a>
        </p>
        <p>
          Price: ${{listing.price}}
        </p>
        <p>
          Order Number: {{reference_number}}
        </p>
        <p>
          Purchased on: {{format_date created_at}}
        </p>


        <p>Status:
          {{#if status}}
          Delivered
          {{else}}
          On it's way
          {{/if}}
        </p>
      </div>

    </div>
    {{/each}}
  </div>
</section>







{{!-- modal to add a list --}}
<div class="modal" id="add-ls-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Sell ANY retro game or console:</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">

      {{!-- ADD LISTING FORM --}}
      <form class="p-3 my-2" id="listing-form" style="background-color:antiquewhite;">

        <div data-id="{{id}}" class="container is-block is-centered">
          {{!-- listing title --}}
          <div class="field is-horizontal">
            <div class="field-label is-normal" id="ls-title">
              <label class="label" for="title">Title:</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="text" id="title" name="title" placeholder="Enter a listing title">
                </div>
              </div>
            </div>
          </div>

          {{!-- listing description --}}
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label" for="description">Description:</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea id="description" class="textarea" name="description"
                    placeholder="Describe your listing here."></textarea>
                </div>
              </div>
            </div>
          </div>
          {{!-- select category --}}
          <div class="field is-horizontal" id="ls-category">
            <div class="field-label is-normal">
              <label class="label" for="cat-drop">What kind of item are you selling?</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select id="cat-drop" name="category_name">
                      <option value="1">Console</option>
                      <option value="2">Game</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{!-- Item name --}}
          <div class="field is-horizontal">
            <div class="field-label is-normal" id="ls-name">
              <label class="label" for="item">Name of game or console:</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="text" id="item" name="item_name"
                    placeholder="ex: Fallout 3//Gameboy Color">
                </div>
              </div>
            </div>
          </div>
          {{!-- console_brand; company name --}}
          <div class="field is-horizontal">
            <div class="field-label is-normal" id="ls-brand">
              <label class="label" for="brand">Brand/Company Name:</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="text" id="brand" name="console_brand"
                    placeholder="ex: Microsoft, Yukes, etc.">
                </div>
              </div>
            </div>
          </div>
          {{!-- year --}}
          <div class="field is-horizontal">
            <div class="field-label is-normal" id="ls-year">
              <label class="label" for="year">Year published:</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="number" id="year" name="year" min="1950" max="2012" placeholder="ex: 1996">
                </div>
              </div>
            </div>
          </div>
          {{!-- Condition --}}
          <div class="field is-horizontal" id="ls-condition">
            <div class="field-label is-normal">
              <label class="label" for="cond-drop">What kind of item are you selling?</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select id="cond-drop" name="condition">
                      <option value="sealed">SEALED</option>
                      <option value="CIB">COMPLETE IN BOX</option>
                      <option value="used">USED</option>
                      <option value="damaged">DAMAGED</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{!-- price --}}
          <div class="field is-horizontal">
            <div class="field-label is-normal" id="ls-price">
              <label class="label" for="price">Price: $</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input" type="text" id="price" name="price" placeholder="ex:125.00">
                </div>
              </div>
            </div>
          </div>
          {{!-- Color --}}
          <div class="field is-horizontal" id="ls-color">
            <div class="field-label is-normal">
              <label class="label" for="clr-drop">Color:</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select id="clr-drop" name="color">
                      <option value="black">Black</option>
                      <option value="white">White</option>
                      <option value="red">Red</option>
                      <option value="blue">Blue</option>
                      <option value="yellow">Yellow</option>
                      <option value="green">Green</option>
                      <option value="orangle">Orange</option>
                      <option value="purple">Purple</option>
                      <option value="brown">Brown</option>
                      <option value="gold">Gold</option>
                      <option value="silver">Silver</option>
                      <option value="grey">Grey</option>
                      <option value="pink">Pink</option>
                      <option value="off-white">Off-White</option>
                      <option value="clear">Clear</option>
                      <option value="lime-green">Lime Green</option>
                      <option value="teal">Teal</option>
                      <option value="atomic-purple">Atomic Purple</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{!-- special edition --}}
          <div class="field is-horizontal">
            <div class="field-label" id="ls-special">
              <label class="label">Is this a special edition?</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <label class="sp-yes">
                    <input type="radio" id="sp-yes" name="is_special_edition" value="true">
                    Yes
                  </label>
                  <label class="radio" for="sp-no">
                    <input type="radio" id="sp-no" name="is_special_edition" value="false">
                    No
                  </label>
                </div>
              </div>
            </div>
          </div>

          {{!-- img upload --}}
          <div class="field is-horizontal">
            <div class="field-label is-normal" id="ls-image">
              <label class="label" for="myFile">Upload image here:</label>
            </div>

            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div enctype="multipart/form-data" action="/action_page.php">
                    <input type="file" id="myFile" name="filename" accept="image/*">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="buttons is-centered is-info my-2">
          <button id="ls-submit" type="submit" class="button is-info">YES!</button>
        </div>
      </form>

    </section>
    <footer id="modal-footer" class="modal-card-foot">
    </footer>
  </div>
</div>


<script src="/js/listing.js"></script>